{% include 'admin/admin_header.html'%}
{% include 'admin/admin_sidebar.html'%}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Active Users</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_home') }}">Home</a></li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Active Users</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">

          <!-- Active Users -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">
              <div class="card-body pb-0">
                <h5 class="card-title">Active Users </h5>
                <table class="table table-hover table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Preview</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Mobile</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in data['activeuserdetails'] %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <th scope="row">
                        <a>
                          <img src="{{ url_for('static', filename=row['image_loc']) }}" alt=""
                            style="max-width: 80px; max-height: 80px;">
                        </a>
                      </th>
                      <td><a class="text-primary fw-bold">{{ row['fname'] }} {{ row['lname'] }}</a></td>
                      <td>{{ row['email'] }}</td>
                      <td>{{ row['mobile'] }}</td>
                      {% if row['status'] == 'active' %}
                      <td><a class="badge rounded-pill bg-success">{{ row['status'] }}</a></td>
                      {% else %}
                      <td><a class="badge rounded-pill bg-warning">{{ row['status'] }}</a></td>
                      {% endif %}
                      <td>
                        <form action="{{ url_for('admin.active_users') }}" method="POST">
                          <button type="submit" class="btn btn-primary rounded-pill" name="action"
                            value="view_user_{{ row['user_id'] }}" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="View User Details">
                            <i class="bi bi-view-list"></i>
                          </button>
                          {% if row['status'] == 'active' %}
                          <button type="submit" class="btn btn-danger rounded-pill" name="action"
                            value="deactivate_user_{{ row['user_id'] }}" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Deactivate User">
                            <i class="bi bi-x-lg"></i>
                          </button>
                          {% else %}
                          <button type="submit" class="btn btn-success rounded-pill" name="action"
                            value="activate_user_{{ row['user_id'] }}" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Activate User">
                            <i class="bi bi-check2"></i>
                          </button>
                          {% endif %}
                        </form>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

            </div>
          </div><!-- End Active Users -->

        </div>
      </div><!-- End Left side columns -->
    </div>
  </section>

      <!-- View User Modal -->
      <div class="modal fade" id="viewuser" tabindex="-1">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">View User Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <!-- User Details -->
                <div class="col-xl-4">
                  <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                      <img src="{{ url_for('static', filename=data['currentuserdetails']['image_loc']) }}"
                        alt="UserImage" class="rounded-circle mb-3" style="max-width: 200px; max-height: 200px;">
                      <h4 class="mb-2"><b>{{data['currentuserdetails']['fname']}} {{data['currentuserdetails']['lname']}}</b></h4>
                      <h6 class="mb-2">{{data['currentuserdetails']['email']}}</h6>
                      <h6 class="mb-2">{{data['currentuserdetails']['mobile']}}</h6>
                      {% if data['currentuserdetails']['status'] == 'active' %}
                        <h6 ><a class="badge rounded-pill bg-success">{{ data['currentuserdetails']['status'] }}</a></h6>
                        {% else %}
                        <h6 ><a class="badge rounded-pill bg-warning">{{ data['currentuserdetails']['status'] }}</a></h6>
                        {% endif %}
                    </div>
                  </div>              
                </div>
                <!-- End User Details -->
                <div class="col-xl-8">
                  <!-- Song Details Tabs -->
                  <div class="card">
                    <div class="card-body pt-3">
                      <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                          <button class="nav-link active" id="userSongs-tab" data-bs-toggle="tab" data-bs-target="#userSongs">Songs List</button>
                        </li>
                        <li class="nav-item">
                          <button class="nav-link" id="userAlbums-tab" data-bs-toggle="tab" data-bs-target="#userAlbums">Album List</button>
                        </li>
                        <li class="nav-item">
                          <button class="nav-link" id="userArtists-tab" data-bs-toggle="tab" data-bs-target="#userArtists">Artist List</button>
                        </li>
                      </ul>
                      <div class="tab-content pt-2">
                        <div class="tab-pane fade show active" id="userSongs" role="tabpanel" aria-labelledby="userSongs-tab">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Song name</th>
                                <th scope="col">Artist</th>
                                <th scope="col">Song</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for row in data['usersongs'] %}
                              <tr>
                                <th scope="row"><a href="#">{{ loop.index }}</a></th>
                                <td>{{ row['song_name'] }}</td>
                                <td><a href="#" class="text-primary">{{ row['album_name'] }}</a></td>
                                <td>
                                  <audio controls>
                                    <source src="{{ row['song_loc'] }}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                  </audio>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <div class="tab-pane fade" id="userAlbums" role="tabpanel" aria-labelledby="userAlbums-tab">
                          <table class="table table-hover datatable">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Preview</th>
                                <th scope="col">Album name</th>
                                <th scope="col">Songs</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for row in data['useralbums'] %}
                              <tr>
                                <td>{{ loop.index }}</td>
                                <th scope="row">
                                  <a href="#">
                                    <img src="{{ url_for('static', filename=row['image_loc']) }}" alt=""
                                      style="max-width: 80px; max-height: 80px;">
                                  </a>
                                </th>
                                <td><a href="#" class="text-primary fw-bold">{{ row['album_name'] }}</a></td>
                                <td>{{ row['song_count'] }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <div class="tab-pane fade" id="userArtists" role="tabpanel" aria-labelledby="userArtists-tab">
                          <table class="table table-hover datatable">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Preview</th>
                                <th scope="col">Artist name</th>
                                <th scope="col">Songs</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for row in data['userartists'] %}
                              <tr>
                                <td>{{ loop.index }}</td>
                                <th scope="row">
                                  <a href="#">
                                    <img src="{{ url_for('static', filename=row['image_loc']) }}" alt=""
                                      style="max-width: 80px; max-height: 80px;">
                                  </a>
                                </th>
                                <td><a href="#" class="text-primary fw-bold">{{ row['artist_name'] }}</a></td>
                                <td>{{ row['song_count'] }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
    
                    </div>
                  </div>
    
                </div>
              </div>
    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End View User Modal -->

</main><!-- End #main -->

{% include 'admin/admin_footer.html'%}

{% if value == 'viewuser' %}
<script>
  // Function to open the modal on page load
  document.addEventListener('DOMContentLoaded', function () {
    var modal = new bootstrap.Modal(document.getElementById('viewuser'));
    modal.show();
  });
</script>
{% endif %}