<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MusicVerse</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='admin/img/favicon.png')}}" rel="icon">
  <link href="{{ url_for('static', filename='admin/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='admin/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin/vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin/vendor/simple-datatables/style.css') }}" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='admin/css/style.css') }}" rel="stylesheet">

  <!-- Notification pop up -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='user/assets/js/plugins/bootstrap-notify.js') }}"></script>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="{{ url_for('admin.admin_home') }}" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='admin/img/logo.png') }}" alt="NiceAdmin">
        <span class="d-none d-lg-block">MusicVerse</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            {% if data['approvalnotificationdata'] %}
            <span class="badge bg-primary badge-number">{{ count['notification'] }}</span>
            {% endif %}
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              {% if data['approvalnotificationdata'] %}
              You have {{ count['notification'] }} new notification
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Mark all as read</span></a>
              {% else %}
                You have no new notifications
              {% endif %}
            </li>
            {% for row in data['approvalnotificationdata'] %}
            {% if row['notification_type'] == 'approvals' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="notification-item" onclick="redirectToApprovals()">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Song Approvals</h4>
                <p>{{ row['song_name'] }}</p>
                <p id="timeDifference" data-timestamp="{{ row['timestamp'] }}"></p>
              </div>
            </li>
            {% endif %}
            {% endfor %}

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ url_for('static', filename='admin/img/profile-img.jpg')}}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Admin</h6>
              <span>Music Verse</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('admin.logout') }}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

<script>
  function getTimeDifference(timestamp) {
    var currentTime = new Date();
    var specificTime = new Date(timestamp);

    var timeDiff = currentTime.getTime() - specificTime.getTime();
    var minsDiff = Math.floor(timeDiff / (1000 * 60));
    var hrsDiff = Math.floor(timeDiff / (1000 * 60 * 60));
    var daysDiff = Math.floor(timeDiff / (1000 * 60 * 60 * 24));

    if (daysDiff > 0) {
      return daysDiff + " days ago";
    } else if (hrsDiff > 0) {
      return hrsDiff + " hrs ago";
    } else {
      return minsDiff + " mins ago";
    }
  }

  var timeDifferenceElement = document.getElementById("timeDifference");
  var specificTimestamp = timeDifferenceElement.dataset.timestamp;

  var difference = getTimeDifference(specificTimestamp);
  timeDifferenceElement.innerText = difference;

  function redirectToApprovals() {
    window.location.href = "{{ url_for('admin.approvals') }}"; // On click of notification
  }
</script>

