{% include 'admin/admin_header.html'%}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{{ url_for('admin.admin_home') }}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#songs-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-music-note-beamed"></i><span>Songs</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="songs-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ url_for('admin.allsongs') }}">
              <i class="bi bi-circle"></i><span>All Songs</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('admin.approvals') }}">
              <i class="bi bi-circle"></i><span>Approvals</span>
            </a>
          </li>
        </ul>
      </li><!-- End Songs Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#users-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people-fill"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="users-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ url_for('admin.allusers') }}">
              <i class="bi bi-circle"></i><span>All Users</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('admin.active_users') }}">
              <i class="bi bi-circle"></i><span>Active Users</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('admin.deactive_users') }}">
              <i class="bi bi-circle"></i><span>Deactive Users</span>
            </a>
          </li>
        </ul>
      </li><!-- End Users Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('admin.artist') }}">
          <i class="bi bi-person-lines-fill"></i>
          <span>Artist</span>
        </a>
      </li><!-- End Artist Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('admin.album') }}">
          <i class="bi bi-file-earmark-music-fill"></i>
          <span>Album</span>
        </a>
      </li><!-- End Album Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('admin.analytics') }}">
          <i class="bi bi-file-bar-graph"></i>
          <span>Analytics</span>
        </a>
      </li><!-- End Analytics Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('admin.playlist') }}">
          <i class="bi bi-music-note-list"></i>
          <span>Playlist</span>
        </a>
      </li><!-- End Analytics Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('admin.admin_home') }}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Songs Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Songs <span>| Public</span> </h5>
                  <div class="d-flex align-items-center">
                    <a href="{{ url_for('admin.allsongs') }}"  class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-music-note-beamed"></i>
                    </a>
                    <div class="ps-3">
                      <h6>{{ count['song_count'] }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Songs Card -->

            <!-- Album Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Albums</h5>

                  <div class="d-flex align-items-center">
                    <a href="{{ url_for('admin.album') }}" class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-album-fill"></i>
                    </a>
                    <div class="ps-3">
                      <h6>{{ count['album_count'] }}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Album Card -->

            <!-- Users Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Users <span>| Active</span></h5>

                  <div class="d-flex align-items-center">
                    <a href="{{ url_for('admin.active_users') }}" class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </a>
                    <div class="ps-3">
                      <h6>{{ count['active_users_count'] }}</h6>
                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Users Card -->

            <!-- Reports -->
          <div class="col-12">
            <div class="card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a id="thisWeekLink" class="dropdown-item" href="#">This week</a></li>
                  <li><a id="thisMonthLink" class="dropdown-item" href="#">This Month</a></li>
                  <li><a id="lifetimeLink" class="dropdown-item" href="#">Lifetime</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 id="ReportData" class="card-title">Report <span id="Reportdataduration">| This week</span></h5>

                <!-- Line Chart -->
                <div id="reportsChart"></div>

                <script>
                  function initializeChart(clicks, dates) {
                    if (!window.chart) {
                      window.chart = new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [{
                          name: 'Clicks',
                          data: clicks,
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#4154f1'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 2
                        },
                        xaxis: {
                          type: 'datetime',
                          categories: dates
                        },
                        tooltip: {
                          x: {
                            format: 'dd/MM/yy'
                          },
                        }
                      });
                      window.chart.render();
                    } else {
                      window.chart.updateSeries([{
                        data: clicks
                      }]);
                      window.chart.updateOptions({
                        xaxis: {
                          categories: dates
                        }
                      });
                    }
                  }

                  document.addEventListener("DOMContentLoaded", () => {
                    initializeChart({{ data['chartdata']['clicks'][-7:] | tojson }}, {{ data['chartdata']['dates'][-7:]  | tojson }});
                            });
                </script>

                <!-- End Line Chart -->

              </div>

            </div>
          </div><!-- End Reports -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!--  Content wise chart -->
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body pb-0">
              <h5 class="card-title">Total Clicks <span class="badge rounded-pill bg-secondary text-light"> {% if data['chartdata']['clicks'][-1] %} {{
                  data['chartdata']['clicks'][-1] }} {% endif %}</span></h5>
              <div id="trafficChart" style="min-height: 380px;" class="echart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#trafficChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '5%',
                      left: 'center'
                    },
                    series: [{
                      name: 'Access From',
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: [
                        {% for item in clickdata %}
                            {
                      value: {{ item['clicks'] }},
                    name: '{{ item['name'] }}'
                            }{% if not loop.last %}, {% endif %}
                {% endfor %}
                      ]
                    }]
                  });
                });
              </script>

            </div>
          </div>
        </div>
        <!-- End Content wise chart -->

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->
  {% include 'admin/admin_footer.html'%}

  <!-- JS for filter -->
<script>
  // New function to load chart data
  function loadData(lastNRows, timeRange) {
    const clicks = {{ data['chartdata']['clicks'] | tojson }};
    const dates = {{ data['chartdata']['dates'] | tojson }};

    const lastNClicks = clicks.slice(-lastNRows);
    const lastNDates = dates.slice(-lastNRows);

    initializeChart(lastNClicks, lastNDates);

    // Update the report title with duration
    document.getElementById("Reportdataduration").textContent = `| ${timeRange}`;
  }

  // Click event handlers
  document.addEventListener("DOMContentLoaded", () => {
    initializeChart({{ data['chartdata']['clicks'][-7:] | tojson }}, {{ data['chartdata']['dates'][-7:] | tojson }});

    // Attach click event handlers
    document.getElementById("thisWeekLink").addEventListener("click", function (e) {
      e.preventDefault();
      loadData(7, "This week");
    });

    document.getElementById("thisMonthLink").addEventListener("click", function (e) {
      e.preventDefault();
      loadData(30, "This Month");
    });

    document.getElementById("lifetimeLink").addEventListener("click", function (e) {
      e.preventDefault();
      loadData({{ data['chartdata']['clicks'] | length }}, "Lifetime");
    });
  });
</script>