<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% include 'uploader/uploader_header.html'%}
{% include 'uploader/uploader_sidebar.html'%}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Analytics</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('uploader.home') }}">Home</a></li>
                <li class="breadcrumb-item active">Analytics</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Reports -->
            <div class="col-12">
                <div class="card">

                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <h5 id="ReportData" class="card-title">Report <span >| Total clicks</span></h5>

                        <!-- Line Chart -->
                        <div id="reportsChart"></div>

                        <script>
                            function initializeChart(clicks, dates) {
                                if (!window.chart) {
                                    window.chart = new ApexCharts(document.querySelector("#reportsChart"), {
                                        series: [{
                                            name: 'Clicks',
                                            data: clicks,
                                        }],
                                        chart: {
                                            height: 350,
                                            type: 'area',
                                            toolbar: {
                                                show: false
                                            },
                                        },
                                        markers: {
                                            size: 4
                                        },
                                        colors: ['#4154f1'],
                                        fill: {
                                            type: "gradient",
                                            gradient: {
                                                shadeIntensity: 1,
                                                opacityFrom: 0.3,
                                                opacityTo: 0.4,
                                                stops: [0, 90, 100]
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            curve: 'smooth',
                                            width: 2
                                        },
                                        xaxis: {
                                            type: 'datetime',
                                            categories: dates
                                        },
                                        tooltip: {
                                            x: {
                                                format: 'dd/MM/yy'
                                            },
                                        }
                                    });
                                    window.chart.render();
                                } else {
                                    window.chart.updateSeries([{
                                        data: clicks
                                    }]);
                                    window.chart.updateOptions({
                                        xaxis: {
                                            categories: dates
                                        }
                                    });
                                }
                            }

                            document.addEventListener("DOMContentLoaded", () => {
                                initializeChart({{ data['chartdata']['clicks']|tojson }}, {{ data['chartdata']['dates']|tojson }});
                            });
                        </script>

                        <!-- End Line Chart -->

                    </div>

                </div>
            </div><!-- End Reports -->

            <!-- Public Songs -->
            <div class="col-12">
                <div class="card recent-sales overflow-auto">

                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Public Songs <span>| Today</span></h5>

                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Song name</th>
                                    <th scope="col">Album</th>
                                    <th scope="col">Artist</th>
                                    <th scope="col">Privacy</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in data['publicsongdata'] %}
                                <tr>
                                    <th scope="row"><a href="#">{{ loop.index }}</a></th>
                                    <td><a href="#" class="text-primary song-link" data-song-id="{{ row['song_id'] }}" data-song-name="{{ row['song_name'] }}">{{ row['song_name'] }}</a></td>
                                    <td>{{ row['album_name'] }}</td>
                                    <td><a href="#" class="text-primary">{{ row['artist_name'] }}</a></td>
                                    <td>
                                        {% if row['privacy'] == 'public' %}
                                        <span class="badge bg-success">Public</span>
                                        {% endif %}
                                        {% if row['privacy'] == 'private' %}
                                        <span class="badge bg-warning">Private</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if row['status'] == 'approved' %}
                                        <span class="badge bg-success">Approved</span>
                                        {% endif %}
                                        {% if row['status'] == 'pending' %}
                                        <span class="badge bg-warning">Pending</span>
                                        {% endif %}
                                        {% if row['status'] == 'rejected' %}
                                        <span class="badge bg-danger">Rejected</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div><!-- End Public Songss -->

        </div>
    </section>

</main><!-- End #main -->
{% include 'uploader/uploader_footer.html'%}

<script>
    $(document).ready(function() {
        $('.song-link').on('click', function(event) {
            event.preventDefault();
            console.log("Song got clicked");
            var songId = $(this).data('song-id');
            var contenttype;

            $.ajax({
                type: 'POST',
                url: "{{ url_for('uploader.analytics') }}",
                data: { 
                    songId: songId,
                    contenttype : 'SongClicked'
                },
                success: function(response) {
                    // Handle the response from the server
                    console.log(response);

                    // Extract clicks and dates from the response
                    var clicks = response.clicks;
                    var dates = response.dates;

                    // Update the chart with the new data
                    initializeChart(clicks, dates);
                    // Get the song name from the clicked element
                    var songName = $(event.currentTarget).data('song-name');

                    // Update the h5 element
                    $('#ReportData').html('Song Report <span >| '+ songName +'</span>');

                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>
