{% include 'uploader/uploader_header.html'%}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('uploader.home') }}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#songs-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-music-note-beamed"></i><span>Songs</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="songs-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ url_for('uploader.allsongs') }}">
              <i class="bi bi-circle"></i><span>All Songs</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('uploader.approvedsongs') }}">
              <i class="bi bi-circle"></i><span>Approved Songs</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('uploader.pendingsongs') }}">
              <i class="bi bi-circle"></i><span>Pending Songs</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('uploader.rejectedsongs') }}">
              <i class="bi bi-circle"></i><span>Rejected Songs</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('uploader.privatesongs') }}">
              <i class="bi bi-circle"></i><span>Private Songs</span>
            </a>
          </li>
        </ul>
      </li><!-- End Songs Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#artist-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-lines-fill"></i><span>Artist</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="artist-nav" class="nav-content show " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ url_for('uploader.artist') }}" class="active">
              <i class="bi bi-circle"></i><span>All Artist</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('uploader.myartist') }}">
              <i class="bi bi-circle"></i><span>My Artist</span>
            </a>
          </li>
        </ul>
      </li><!-- End Artist Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#album-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-file-earmark-music-fill"></i><span>Albums</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="album-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ url_for('uploader.album') }}">
              <i class="bi bi-circle"></i><span>All Albums</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('uploader.myalbum') }}">
              <i class="bi bi-circle"></i><span>My Albums</span>
            </a>
          </li>
        </ul>
      </li><!-- End Album Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="modal" data-bs-target="#uploadmusic">
          <i class="bi bi-upload"></i>
          <span>Upload Music</span>
        </a>
      </li><!-- End Upload Music Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('uploader.analytics') }}">
          <i class="bi bi-file-bar-graph"></i>
          <span>Analytics</span>
        </a>
      </li><!-- End Analytics Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('uploader.profile') }}">
          <i class="bi bi-person-circle"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

<main id="main" class="main">
  <!-- (success:, info:, warning:, danger:) -->
  {% with messages = get_flashed_messages() %}
  {% for message in messages %}
  {% set alert_class = '' %}
  {% if message.startswith('success:') %}
  {% set alert_class = 'alert-success bg-success text-light' %}
  {% set message = message.split(':')[1] %}
  {% elif message.startswith('info:') %}
  {% set alert_class = 'alert-info bg-info text-light' %}
  {% set message = message.split(':')[1] %}
  {% elif message.startswith('warning:') %}
  {% set alert_class = 'alert-warning bg-warning text-dark' %}
  {% set message = message.split(':')[1] %}
  {% elif message.startswith('danger:') %}
  {% set alert_class = 'alert-danger bg-danger text-light' %}
  {% set message = message.split(':')[1] %}
  {% endif %}
  <div class="alert {{ alert_class }} border-0 alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endwith %}


  <div class="pagetitle">
    <h1>All Artist</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('uploader.home') }}">Home</a></li>
        <li class="breadcrumb-item">Artist</li>
        <li class="breadcrumb-item active">All Artist</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- All Artist -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body pb-0">
                <h5 class="card-title">All Artist <span>| Today</span></h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Preview</th>
                      <th scope="col">Cover Pic</th>
                      <th scope="col">Artist name</th>
                      <th scope="col">Songs</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for row in data['artistdetails'] %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <th scope="row">
                        <a href="#">
                          <img src="{{ url_for('static', filename=row['image_loc']) }}" alt=""
                            style="max-width: 100px; max-height: 100px;">
                        </a>
                      </th>
                      <th scope="row">
                        <a href="#">
                          <img src="{{ url_for('static', filename=row['cover_pic']) }}" alt=""
                            style="max-width: 100px; max-height: 100px;">
                        </a>
                      </th>
                      <td><a href="#" class="text-primary fw-bold">{{ row['artist_name'] }}</a></td>
                      <td>{{ row['song_count'] }}</td>
                      <td>
                        <form action="{{ url_for('uploader.artist') }}" method="POST">
                          <button type="submit" class="btn btn-primary rounded-pill" name="viewartistaction"
                            value="view_artist_{{ row['artist_id'] }}" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="View Artist Details">
                            <i class="bi bi-view-list"></i>
                          </button>
                        </form>
                      </td>
                    </tr>
                    {% endfor %}


                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Trending -->

        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">

        <!-- Artist Upload -->
        <div class="card" align="center">

          <div class="card-body">
            <div class="activity">
              <div>
                <img src="{{ url_for('static', filename='uploader/img/uploadsong.png')}}" alt="AddArtist"
                  style="height: 200px; margin-top: 20px; margin-left: 30px;">
              </div>
              <div>
                <a href="#" data-bs-toggle="modal" data-bs-target="#addartist" class="btn btn-primary rounded-pill"
                  style="margin: 20px;">
                  Add Artist
                </a>
              </div>

            </div>
          </div>


        </div><!-- End Artist Upload -->

      </div><!-- End Right side columns -->


    </div>
  </section>

  <!-- Music Upload Modal -->
  <div class="modal fade" id="addartist" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Artist</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <form class="row g-3 needs-validation" novalidate action="{{ url_for('uploader.artist') }}" method="POST"
            enctype="multipart/form-data">
            <div class="col-md-12">
              <div class="form-floating">
                <input type="text" class="form-control" id="artistname" placeholder="Artist Name" name="artistname"
                  required>
                <label for="artistname">Artist Name</label>
                <div class="invalid-tooltip">
                  Please provide the Artist Name.
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row mb-3 align-items-center">
                <label for="formFile" class="col-sm-2 col-form-label">Artist Image</label>
                <div class="col-sm-10 position-relative">
                  <div class="form-control">
                    <input class="form-control" type="file" name="image" id="formFile" accept="image/*" required>
                    <div class="invalid-tooltip">
                      Please choose an image file to upload.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row mb-3 align-items-center">
                <label for="formFile" class="col-sm-2 col-form-label">Cover Pic</label>
                <div class="col-sm-10 position-relative">
                  <div class="form-control">
                    <input class="form-control" type="file" name="coverimage" id="formFile" accept="image/*" required>
                    <div class="invalid-tooltip">
                      Please choose an image file to upload.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary" name="addartistbtn">Submit</button>
              <a href="{{ url_for('uploader.artist') }}" class="btn btn-secondary">Reset</a>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Music Upload Modal -->

  <!-- View Artist Modal -->
  <div class="modal fade" id="viewartist" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">View Artist Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <!-- Artist Details -->
            <div class="col-xl-4">
              <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                  <img src="{{ url_for('static', filename=data['currentartistdetails']['image_loc']) }}"
                    alt="ArtistImage" class="rounded-circle mb-3" style="max-width: 200px; max-height: 200px;">
                  <h4 class="mb-0"><b>{{data['currentartistdetails']['artist_name']}}</b></h4>
                </div>
              </div>              
            </div>
            <!-- End Artist Details -->
            <div class="col-xl-8">
              <!-- Song Details Tabs -->
              <div class="card">
                <div class="card-body pt-3">
                  <ul class="nav nav-tabs nav-tabs-bordered">
                    <li class="nav-item">
                      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Songs
                        List</button>
                    </li>
                  </ul>
                  <div class="tab-content pt-2">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Song name</th>
                          <th scope="col">Artist</th>
                          <th scope="col">Song</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for row in data['currentartistsongs'] %}
                        <tr>
                          <th scope="row"><a href="#">{{ loop.index }}</a></th>
                          <td>{{ row['song_name'] }}</td>
                          <td><a href="#" class="text-primary">{{ row['album_name'] }}</a></td>
                          <td>
                            <audio controls>
                              <source src="{{ row['song_loc'] }}" type="audio/mpeg">
                              Your browser does not support the audio element.
                            </audio>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div><!-- End Song Details Tabs -->

                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End View Artist Modal -->

</main><!-- End #main -->

{% include 'uploader/uploader_footer.html'%}

{% if value == 'viewartist' %}
<script>
  // Function to open the modal on page load
  document.addEventListener('DOMContentLoaded', function () {
    var modal = new bootstrap.Modal(document.getElementById('viewartist'));
    modal.show();
  });
</script>
{% endif %}