{% include 'uploader/uploader_header.html'%}
{% include 'uploader/uploader_sidebar.html'%}

  <main id="main" class="main">
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    {% if message == "Successfully uploaded Songs" %}
    <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% if message == "Invalid file format. Please upload an MP3 file." %}
    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}
    {% endwith %}
    
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('uploader.home') }}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Recent Songs -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Recent Songs <span>| Today</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Song name</th>
                        <th scope="col">Album</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Privacy</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in data['recentsongdata'] %}
                    <tr>
                      <th scope="row"><a href="#">{{ loop.index }}</a></th>
                      <td>{{ row['song_name'] }}</td>
                      <td><a href="#" class="text-primary">{{ row['album_name'] }}</a></td>
                      <td>{{ row['artist_name'] }}</td>
                      <td>
                        {% if row['privacy'] == 'public' %}
                        <span class="badge bg-success">Public</span>
                        {% endif %}
                        {% if row['privacy'] == 'private' %}
                        <span class="badge bg-warning">Private</span>
                        {% endif %}
                      </td>
                      <td>
                      {% if row['status'] == 'approved' %}
                      <span class="badge bg-success">Approved</span>
                      {% endif %}
                      {% if row['status'] == 'pending' %}
                      <span class="badge bg-warning">Pending</span>
                      {% endif %}
                      {% if row['status'] == 'rejected' %}
                      <span class="badge bg-danger">Rejected</span>
                      {% endif %}
                    </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Songs -->

            <!-- Trending -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title">Trending <span>| Today</span></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Preview</th>
                        <th scope="col">Song name</th>
                        <th scope="col">Album</th>
                        <th scope="col">Click</th>
                        <th scope="col">Release Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#"><img src="{{ url_for('static', filename='uploader/img/product-1.jpg')}}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                        <td>$64</td>
                        <td class="fw-bold">124</td>
                        <td>$5,828</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="{{ url_for('static', filename='uploader/img/product-2.jpg')}}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                        <td>$46</td>
                        <td class="fw-bold">98</td>
                        <td>$4,508</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="{{ url_for('static', filename='uploader/img/product-3.jpg')}}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
                        <td>$59</td>
                        <td class="fw-bold">74</td>
                        <td>$4,366</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="{{ url_for('static', filename='uploader/mg/product-4.jpg')}}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
                        <td>$32</td>
                        <td class="fw-bold">63</td>
                        <td>$2,016</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="{{ url_for('static', filename='uploader/img/product-5.jpg')}}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
                        <td>$79</td>
                        <td class="fw-bold">41</td>
                        <td>$3,239</td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Trending -->

          </div>
        </div><!-- End Left side columns -->

                <!-- Right side columns -->
                <div class="col-lg-4">

                  <!-- Song Upload -->
                  <div class="card" align="center">
        
                    <div class="card-body">
                      <div class="activity">
                        <div>
                          <img src="{{ url_for('static', filename='uploader/img/uploadsong.png')}}" alt="UploadSong" style="height: 200px; margin-top: 20px; margin-left: 30px;">
                        </div>
                        <div style="margin: 0; padding: 0;">
                          <h5 class="card-title" style="margin: 0; padding: 0; margin-top: 10px; margin-bottom: 5px;">Upload and publish</h5>
                          <p style="margin: 0; padding: 0; margin-top: 0;">your music here to get started</p>
                        </div>
                        <div>
                          <a class="nav-link collapsed" href="#" data-bs-toggle="modal" data-bs-target="#uploadmusic"></a>
                          <a href="#" data-bs-toggle="modal" data-bs-target="#uploadmusic" class="btn btn-primary rounded-pill" style="margin: 20px;">
                            <i class="bi bi-cloud-upload"></i> Upload
                          </a>
                        </div>
                        
                      </div>
                    </div>
                    
                    
                  </div><!-- End Song Upload -->
        
                </div><!-- End Right side columns -->


      </div>
    </section>

  </main><!-- End #main -->

  {% include 'uploader/uploader_footer.html'%}
