<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
{% include 'uploader/uploader_header.html'%}
{% include 'uploader/uploader_sidebar.html'%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
    <style>
        .select2-container {
            width: 100% !important;
        }
    </style>

<main id="main" class="main">

    <!-- (success:, info:, warning:, danger:) -->
    {% with messages = get_flashed_messages() %} 
  {% for message in messages %}
    {% set alert_class = '' %}
    {% if message.startswith('success:') %}
      {% set alert_class = 'alert-success bg-success text-light' %}
      {% set message = message.split(':')[1] %}
    {% elif message.startswith('info:') %}
      {% set alert_class = 'alert-info bg-info text-light' %}
      {% set message = message.split(':')[1] %}
    {% elif message.startswith('warning:') %}
      {% set alert_class = 'alert-warning bg-warning text-dark' %}
      {% set message = message.split(':')[1] %}
    {% elif message.startswith('danger:') %}
      {% set alert_class = 'alert-danger bg-danger text-light' %}
      {% set message = message.split(':')[1] %}
    {% endif %}
    <div class="alert {{ alert_class }} border-0 alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endwith %}
<!-- End flash message alert -->

    <div class="pagetitle">
      <h1>Upload Song</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('uploader.home') }}">Home</a></li>
          <li class="breadcrumb-item">Songs</li>
          <li class="breadcrumb-item active">upload song</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        <div class="row">
          <div class="col-xl-4">
  
            <div class="card">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <img src="{{ url_for('static', filename=data['currentalbumdetails']['image_loc']) }}" alt="SongImage" class="rounded-circle" style="max-width: 200px; max-height: 200px;">
                <h4><b>{{data['currentalbumdetails']['album_name']}}</b></h4>
              </div>
            </div>
  
          </div>
  
          <div class="col-xl-8">
  
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
  
                  <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                  </li>
  
                </ul>
                <div class="tab-content pt-2">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Song name</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in data['albumsongdata'] %}
                      <tr>
                        <th scope="row"><a href="#">{{ loop.index }}</a></th>
                        <td>{{ row['song_name'] }}</td>
                        <td><a href="#" class="text-primary">{{ row['artist_name'] }}</a></td>
                        <td>
                          <audio controls>
                            <source src="{{ row['song_loc'] }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                          </audio>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    
                    <div id="song-list"></div>
                    
                    
                  </table>
                </div><!-- End Bordered Tabs -->
  
              </div>
            </div>
  
          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->

  {% include 'uploader/uploader_footer.html'%}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script>
      $(document).ready(function() {
          $('#artistselect').select2();
      });
  </script>
