{% include 'uploader/uploader_header.html'%}
{% include 'uploader/uploader_sidebar.html'%}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('uploader.home') }}">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              {% if data['userdetails']['image_loc'] != 'null' %}
              <img src="{{ url_for('static', filename=data['userdetails']['image_loc'])}}" alt="Profile" class="rounded-circle">
              {% else %}
              <img src="{{ url_for('static', filename='public/img/defaultavathar.png') }}" alt="Profile" class="rounded-circle">
              {% endif %}
              <h2>{{data['userdetails']['fname']}} {{data['userdetails']['lname']}}</h2>
              <h3>Music Uploader</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{data['userdetails']['fname']}} {{data['userdetails']['lname']}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Username</div>
                    <div class="col-lg-9 col-md-8">{{data['userdetails']['username']}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{data['userdetails']['email']}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Mobile</div>
                    <div class="col-lg-9 col-md-8">{{data['userdetails']['mobile']}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form class="row g-3 needs-validation" action="{{ url_for('uploader.update_profile') }}" method="post" enctype="multipart/form-data" novalidate>
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                      {% if data['userdetails']['image_loc'] != 'null' %}
                        <img id="profileImagePreview" src="{{ url_for('static', filename=data['userdetails']['image_loc'])}}" alt="Profile">
                        {% else %}
                        <img id="profileImagePreview" src="{{ url_for('static', filename='public/img/defaultavathar.png') }}" alt="Profile">
                        {% endif %}
                        <div class="pt-2">
                          <label for="profileImageInput" class="btn btn-primary btn-sm text-light" data-bs-toggle="tooltip" data-bs-placement="left" title="Upload new profile image">
                            <i class="bi bi-upload"></i>
                          </label>
                          <input type="file" id="profileImageInput" name="profileImage" accept="image/*" style="display: none;">
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="uname" class="col-md-4 col-lg-3 col-form-label">User Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="uname" type="text" class="form-control" id="uname" value="{{data['userdetails']['username']}}" disabled>
                        <!-- Add a validation message -->
                        <div class="invalid-feedback">
                          Please enter your Username.
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fName" type="text" class="form-control" id="fName" value="{{data['userdetails']['fname']}}" required
                          pattern="[A-Za-z0-9 ]+">
                        <!-- Add a validation message -->
                        <div class="invalid-feedback">
                          Please enter a valid first name (letters and numbers only).
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="lName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="lName" type="text" class="form-control" id="lName" value="{{data['userdetails']['lname']}}" required
                          pattern="[A-Za-z0-9 ]+">
                        <!-- Add a validation message -->
                        <div class="invalid-feedback">
                          Please enter a valid last name (letters and numbers only).
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="Phone" value="{{data['userdetails']['mobile']}}" required>
                        <!-- Add a validation message -->
                        <div class="invalid-feedback">
                          Please enter a valid phone number.
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" value="{{data['userdetails']['email']}}" required>
                        <!-- Add a validation message -->
                        <div class="invalid-feedback">
                          Please enter a valid email address.
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form class="needs-validation" action="{{ url_for('uploader.changepassword') }}" method="post" novalidate id="changePasswordForm">
                    <div class="row mb-3 position-relative">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword" required>
                        <div class="invalid-feedback">
                          Please enter the current password.
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3 position-relative">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword" required>
                        <div class="invalid-feedback">
                          Please enter the new password.
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3 position-relative">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword" required>
                        <div class="invalid-feedback">
                          Please re-enter the new password.
                        </div>
                        <div class="invalid-feedback mismatch-feedback" style="display: none;">
                          New password and re-entered password do not match.
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3 position-relative">
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                      </div>
                    </div>
                  </form>
                  <!-- End Change Password Form -->
                </div>
              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% include 'uploader/uploader_footer.html'%}

  <script>
    // Function to preview the selected image
    function previewImage(inputId, previewId) {
      const input = document.getElementById(inputId);
      const preview = document.getElementById(previewId);
      const file = input.files[0];
      
      if (file) {
        const reader = new FileReader();
        reader.onload = function(event) {
          preview.src = event.target.result;
        };
        reader.readAsDataURL(file);
      }
    }
    
    // Add event listeners to the file input elements
    const albumImageInput = document.getElementById('profileImageInput');
    
    albumImageInput.addEventListener('change', function() {
      previewImage('profileImageInput', 'profileImagePreview');
    });
    
  </script>