
  <!-- Music Upload Modal -->
  <style>
    .hidden {
      display: none;
    }
    #audioPlayer {
        display: none;
      }
  </style>
<div class="modal fade" id="uploadmusic" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Music Upload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <div style="border: 2px dashed #ccc; padding: 30px;">
          <div class="text-center mb-4">
            <audio id="audioPlayer" controls></audio>
          </div>
          <form method="POST" action="{{ url_for('uploader.uploadmusic') }}" enctype="multipart/form-data" onsubmit="showLoader()">
            <input type="file" name="file" id="musicFileInput" accept=".mp3">
            <input type="submit" id="uploadButton" class="btn btn-primary" value="Upload">
            <button id="loadingButton" class="btn btn-primary hidden" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Analysing...
            </button>
          </form>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
 function showLoader() {
    var uploadButton = document.getElementById('uploadButton');
    var loadingButton = document.getElementById('loadingButton');
    
    uploadButton.classList.add('hidden'); // Hide the upload button
    loadingButton.classList.remove('hidden'); // Show the loading button
    
    // Add your logic here to handle the form submission via AJAX or other means
    // For example, you can use the fetch API to send the form data to the server
  }

</script>
<script>
  const musicFileInput = document.getElementById("musicFileInput");
    const audioPlayer = document.getElementById("audioPlayer");

    musicFileInput.addEventListener("change", function(event) {
      const file = event.target.files[0];
      const fileURL = URL.createObjectURL(file);
      
      const source = document.createElement("source");
      source.src = fileURL;
      audioPlayer.innerHTML = "";
      audioPlayer.appendChild(source);

      audioPlayer.style.display = "block";
    });
</script>
<!-- End Music Upload Modal -->

  <!-- ======= Footer ======= -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='uploader/vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='uploader/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='uploader/vendor/chart.js/chart.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='uploader/vendor/echarts/echarts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='uploader/vendor/quill/quill.min.js') }}"></script>
  <script src="{{ url_for('static', filename='uploader/vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script src="{{ url_for('static', filename='uploader/vendor/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ url_for('static', filename='uploader/vendor/php-email-form/validate.js') }}"></script>
  
  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='uploader/js/main.js') }}"></script>

   <!-- Notification pop up-->
   <script>
    // Function to show the notification
    function showNotification(form, align, message, type) {
      // Determine the text color class based on the type
      const textColorClass = type === 'warning' ? 'text-dark' : 'text-light';
  
      // Determine the close button class based on the type
      const closeButtonClass = type === 'warning' ? '' : 'btn-close-white';
  
      $.notify(
        {
          message: message
        },
        {
          type: type,
          placement: {
            from: form,
            align: align
          },
          template:
            '<div class="alert alert-{0} bg-{0} ' +
            textColorClass +
            ' border-0 alert-dismissible fade show col-3 text-center">' +
            '<button type="button" class="btn-close ' +
            closeButtonClass +
            '" data-bs-dismiss="alert" aria-label="Close"></button>' +
            '{2}</div>'
        }
      );
    }
  </script>
  

</body>

</html>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% set message = messages|first %}
    {% set message_type = message.split(': ')[0] %}
    {% set message_content = message.split(': ')[1] %}
    <script>
      showNotification("bottom","center",'{{ message_content }}', '{{ message_type }}');
    </script>
  {% endif %}
{% endwith %}