
</div>
<!--   Core JS Files   -->
<script src="{{ url_for('static', filename='public/js/core/jquery.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='public/js/core/popper.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='public/js/core/bootstrap.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='public/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{{ url_for('static', filename='public/js/plugins/bootstrap-switch.js')}}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{{ url_for('static', filename='public/js/plugins/nouislider.min.js')}}" type="text/javascript"></script>
<!-- Chart JS -->
<script src="{{ url_for('static', filename='public/js/plugins/chartjs.min.js')}}"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{{ url_for('static', filename='public/js/plugins/moment.min.js')}}"></script>
<script src="{{ url_for('static', filename='public/js/plugins/bootstrap-datetimepicker.js')}}" type="text/javascript"></script>
<!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
<script src="{{ url_for('static', filename='public/js/blk-design-system.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='user/assets/demo/demo.js')}}"></script>
<script src="{{ url_for('static', filename='user/assets/js/plugins/bootstrap-notify.js')}}"></script>
<script>
  $(document).ready(function() {
    blackKit.initDatePicker();
    blackKit.initSliders();
  });

  function scrollToDownload() {

    if ($('.section-download').length != 0) {
      $("html, body").animate({
        scrollTop: $('.section-download').offset().top
      }, 1000);
    }
  }
</script>

</body>

</html>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% set message = messages|first %}
    {% set message_type = message.split(': ')[0] %}
    {% set message_content = message.split(': ')[1] %}
    <script>
      demo.showNotification('bottom', 'center', '{{ message_content }}', 'tim-icons icon-bell-55', '{{ message_type }}');
    </script>
  {% endif %}
{% endwith %}