{% include 'user/user_header.html'%}
<style>
    body {
      overflow: hidden;
    }
    /* Styles for the modal */
    .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.css">
  <script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script>
<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-plain">

            <!-- Image Upload -->
            <div style="width: 200px; height: 200px; position: relative; overflow: hidden;">
              <label for="upload-input" onclick="openModal()">
                {% if data['userdetails']['image_loc'] != 'null' %}
                <img src="{{ url_for('static', filename=data['userdetails']['image_loc'])}}" class="img-center img-fluid rounded-circle" id="profile-image" style="position: absolute; width: 100%; height: 100%; object-fit: cover;">
                {% else %}
                <img src="{{ url_for('static', filename='public/img/defaultavathar.png') }}" class="img-center img-fluid rounded-circle" id="profile-image" style="position: absolute; width: 100%; height: 100%; object-fit: cover;">
                {% endif %}
              </label>
            </div>
            
            <!-- The modal -->
    <div id="picupldmodal" class="modal">
      <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h2>Upload Image</h2>
          <form method="POST" action="/user/propicupload" enctype="multipart/form-data">
              <input type="file" name="image" accept="image/*" />
              <input type="submit" value="Upload" />
          </form>
      </div>
  </div>
            <div class="card-body">
              <form action="/user/update_profile" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <label>First Name</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                      <input type="text" class="form-control" value="{{data['userdetails']['fname']}}" name="upfname">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label>Last Name</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                      <input type="text" class="form-control" value="{{data['userdetails']['lname']}}" name="uplname">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Mobile</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                      </div>
                      <input type="text" class="form-control" value="{{data['userdetails']['mobile']}}" name="upmob">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label>Email</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                      </div>
                      <input type="text" class="form-control" value="{{data['userdetails']['email']}}" disabled>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-round" id="updatedetails">Submit</button>
                <a href="{{ url_for('user.profile') }}" class="btn btn-neutral btn-round">Cancel</a>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 ml-auto">
          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="tim-icons icon-square-pin"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Find us at the office</h4>
              <p> Bld Mihail Kogalniceanu, nr. 8,
                <br> 7652 Bucharest,
                <br> Romania
              </p>
            </div>
          </div>
        </div>
      </div>
          <!-- Update Success -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-success alert-with-icon fixed-bottom">
  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
  </button>
  <span data-notify="icon" class="tim-icons icon-trophy"></span>
  <span>{{ messages[0] }}</span>
</div>
{% endif %}
{% endwith %}
    </div>
  </section>

  <script>
    // Open the modal
    function openModal() {
        var modal = document.getElementById("picupldmodal");
        modal.style.display = "block";
    }

    // Close the modal
    function closeModal() {
        var modal = document.getElementById("picupldmodal");
        modal.style.display = "none";
    }
</script>

  {% include 'user/user_footer.html'%}