{% include 'user/user_header.html'%}

<style>
  /* Hide scroll bars */
  .section::-webkit-scrollbar {
    display: none;
  }
  .section {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>

<div class="page-header header-filter">

<!-- Side Bar -->
<div class="myfixleft sidebar">
  <div style="margin-top: 100px;">
    <div class="row">
      <div class="col-md-11">
        <ul class="nav nav-pills nav-pills-info flex-column">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-2 active" href="{{ url_for('user.user_home') }}">
              <i class="fas fa-home mr-2"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-2" href="{{ url_for('user.favorite') }}">
              <i class="fas fa-heart mr-2"></i> Favorites
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-2" href="{{ url_for('user.explore') }}">
              <i class="fas fa-compass mr-2"></i> Explore
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Side Bar -->

  <!-- Trendings -->
  <div class="section" style="margin-top: 50px; margin-left: 250px; overflow-y: scroll; max-height: 660px;">

    {% if data['favoritesongdata'] != [] or data['trendingsongdata'] != [] %}
    <div>
        <ul class="nav nav-pills nav-pills-success nav-pills-icons" role="tablist">
            <!-- color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning", "nav-pills-danger" -->
            {% if data['favoritesongdata'] != [] %}
            <!-- Favorite Songs box -->
          <li class="nav-item" style="margin-right: 30px;">
            <form action="{{ url_for('user.play') }}" method="POST" role="tab">
              <input type="hidden" name="contenttype" value="favoritesongs">
              <button class="btn btn-default btn-round" type="submit" class="nav-link album-button" style="padding: 0; position: relative; overflow: hidden;">
                <div class="d-flex flex-column align-items-center" style="width: 230px; height: 230px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                  <div class="image-container" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: filter 0.3s ease; filter: blur(0);">
                    <img src="{{ url_for('static', filename='user/assets/img/favoritesongs2.jpg')}}" alt="Raised image" class="img-fluid rounded shadow-lg" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="overlay" >
                    <span class="text-name">Liked Songs: {{ data['favoritesongdata']|length }}</span>
                  </div>
                </div>
              </button>
            </form>
          </li>
          <!-- End Favorite Songs box -->
            {% endif %}
          <!-- Trending Songs -->
          <li class="nav-item" style="margin-right: 30px;">
  <form action="{{ url_for('user.play') }}" method="POST" role="tab">
    <input type="hidden" name="contenttype" value="trendingsongs">
    <button class="btn btn-default btn-round" type="submit" class="nav-link album-button" style="padding: 0; position: relative; overflow: hidden;">
      <div class="d-flex flex-column align-items-center" style="width: 230px; height: 230px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
        <div class="image-container" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: filter 0.3s ease; filter: blur(0);">
          <img src="{{ url_for('static', filename='user/assets/img/trendingmusic2.jpg')}}" alt="Raised image" class="img-fluid rounded shadow-lg" style="object-fit: cover; width: 100%; height: 100%;">
        </div>
        <div class="overlay">
          <span class="text-name">Trending Songs</span>
        </div>
      </div>
    </button>
  </form>
</li>

          <!-- End Trending Songs -->
        </ul>
    </div>
    {% endif %}
    <div style="margin-top: 20px;">
        <!-- Space for the content below (album data or artist or what ever. Only needed for this one)-->
    </div>
    <!-- Top Albums -->
    {% if data['albumdata'] != [] %}
    <h3>Trending Albums</h3>
    <div>
        <ul class="nav nav-pills nav-pills-success nav-pills-icons" role="tablist">
            <!-- color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning", "nav-pills-danger" -->
            {% for row in data['albumdata'] %}
          <li class="nav-item" style="margin-right: 30px;">
            <form action="{{ url_for('user.play') }}" method="POST" role="tab">
              <input type="hidden" name="contenttype" value="album">
              <input type="hidden" name="album_id" value="{{ row['album_id'] }}">
              <button class="btn btn-default btn-round" type="submit" class="nav-link album-button" style="padding: 0; position: relative; overflow: hidden;">
                <div class="d-flex flex-column align-items-center" style="width: 230px; height: 230px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                  <div class="image-container" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: filter 0.3s ease; filter: blur(0);">
                    <img src="{{ url_for('static', filename=row['image_loc'])}}" alt="Raised image" class="img-fluid rounded shadow-lg" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="overlay" >
                    <span class="text-name">{{ row['album_name'] }}</span>
                  </div>
                </div>
              </button>
            </form>
          </li>
          {% endfor %}
          </ul>
    </div>
    {% endif %}
    <div style="margin-top: 20px;">
      {% if data['artistdata'] != [] %}
        <h3>Trending Artists</h3>
        <div>
          <ul class="nav nav-pills nav-pills-success nav-pills-icons" role="tablist">
            <!-- color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning", "nav-pills-danger" -->
            {% for row in data['artistdata'] %}
          <li class="nav-item" style="margin-right: 30px;">
            <form action="{{ url_for('user.play') }}" method="POST" role="tab">
              <input type="hidden" name="contenttype" value="artist">
              <input type="hidden" name="artist_id" value="{{ row['artist_id'] }}">
              <button class="btn btn-default btn-round" type="submit" class="nav-link album-button" style="padding: 0; position: relative; overflow: hidden;">
                <div class="d-flex flex-column align-items-center" style="width: 230px; height: 230px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                  <div class="image-container" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: filter 0.3s ease; filter: blur(0);">
                    <img src="{{ url_for('static', filename=row['artist_image_loc'])}}" alt="Raised image" class="img-fluid rounded shadow-lg" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="overlay">
                    <span class="text-name">{{ row['artist_name'] }}</span>
                  </div>
                </div>
              </button>
            </form>
          </li>
          {% endfor %}
            
            <!-- Add more list items as needed -->
            </ul>
        </div>
        {% endif %}
    </div>
    
  </div>

  <!-- Suggestions -->
  <div style="margin-top: 150px; margin-left: 250px; overflow-y: scroll; max-height: 400px;">
  </div>
</div>

<style>
  button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
  filter: blur(0);
}

button:hover .image-container {
  filter: blur(5px);
}

button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

button:hover .overlay {
  opacity: 1;
}

button .text-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
  position: absolute; 
  bottom: 0; 
  left: 0; 
  padding: 10px;
   white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}
</style>

{% include 'user/user_footer.html'%}
