{% include 'user/user_header.html'%}

<style>
  /* Hide scroll bars */
  ::-webkit-scrollbar {
    display: none;
  }
  .section {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>

<div class="content">
<div class="row mt-5">
<div class="col mt-5">
<!-- For space on top -->
</div>
</div>
  <div class="row">
  <div class="col col-1 mr-5 sidebar">
  <!-- Side Bar -->
<div class="myfixleft">
  <div style="margin-top: 100px;">
    <div class="row">
      <div class="col-md-11">
        <ul class="nav nav-pills nav-pills-info flex-column">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-0 active" href="{{ url_for('user.user_home') }}">
              <i class="fas fa-home mr-2"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-0" href="{{ url_for('user.favorite') }}">
              <i class="fas fa-heart mr-2"></i> Favorites
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-0" href="{{ url_for('user.explore') }}">
              <i class="fas fa-compass mr-2"></i> Explore
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-0" href="{{ url_for('user.playlist') }}">
              <i class="fa-solid fa-compact-disc mr-2"></i> Playlist
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Side Bar -->
  </div>
  <div class="col col-10 ml-5">
      <!-- Made For -->
      {% if data['favoritesongdata'] != [] or data['trendingsongdata'] != [] %}
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h4>Made for <span class="text-success h3"> {{ data['userdetails']['fname'] }} </span></h4>
            </div>
          </div>
          <div class="row">
            <!-- Favorite Songs box -->
            {% if data['favoritesongdata'] != [] %}
            <div class="col col-2 mr-5">
              <form action="{{ url_for('user.play') }}" method="POST" role="tab">
                <input type="hidden" name="contenttype" value="favoritesongs">
                <button class="btn btn-default btn-round" type="submit" class="nav-link album-button"
                  style="padding: 0; position: relative; overflow: hidden;">
                  <div class="d-flex flex-column align-items-center"
                    style="width: 230px; height: 230px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                    <div class="image-container"
                      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: filter 0.3s ease; filter: blur(0);">
                      <img src="{{ url_for('static', filename='user/assets/img/favoritesongs2.jpg')}}" alt="Raised image"
                        class="img-fluid rounded shadow-lg" style="object-fit: cover; width: 100%; height: 100%;">
                    </div>
                    <div class="overlay">
                      <span class="text-name">Liked Songs: {{ data['favoritesongdata']|length }}</span>
                    </div>
                  </div>
                </button>
              </form>
            </div>
            {% endif %}
            <!-- End Favorite Songs box -->
            <!-- Trending Songs -->
            <div class="col col-3">
              <form action="{{ url_for('user.play') }}" method="POST" role="tab">
                <input type="hidden" name="contenttype" value="trendingsongs">
                <button class="btn btn-default btn-round" type="submit" class="nav-link album-button"
                  style="padding: 0; position: relative; overflow: hidden;">
                  <div class="d-flex flex-column align-items-center"
                    style="width: 230px; height: 230px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                    <div class="image-container"
                      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: filter 0.3s ease; filter: blur(0);">
                      <img src="{{ url_for('static', filename='user/assets/img/trendingmusic2.jpg')}}" alt="Raised image"
                        class="img-fluid rounded shadow-lg" style="object-fit: cover; width: 100%; height: 100%;">
                    </div>
                    <div class="overlay">
                      <span class="text-name">Trending Songs</span>
                    </div>
                  </div>
                </button>
              </form>
            </div>
            <!-- End Trending Songs -->
          </div>
        </div>
      </div>
      {% endif %}
      <!-- End Made For -->

      <!-- Trending Albums -->
      {% if data['albumdata'] != [] %}
      <div class="row mt-4">
        <div class="col-12">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h4>Trending <span class="text-success h3"> Albums </span></h4>
            </div>
          </div>
          <ul class="nav nav-pills nav-pills-success nav-pills-icons" role="tablist">
            <!-- color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning", "nav-pills-danger" -->
            {% for row in data['albumdata'] %}
            <li class="nav-item" style="margin-right: 30px;">
              <form action="{{ url_for('user.play') }}" method="POST" role="tab">
                <input type="hidden" name="contenttype" value="album">
                <input type="hidden" name="album_id" value="{{ row['album_id'] }}">
                <button class="btn btn-default btn-round" type="submit" class="nav-link album-button"
                  style="padding: 0; position: relative; overflow: hidden;">
                  <div class="d-flex flex-column align-items-center"
                    style="width: 230px; height: 230px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                    <div class="image-container"
                      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: filter 0.3s ease; filter: blur(0);">
                      <img src="{{ url_for('static', filename=row['image_loc'])}}" alt="Raised image"
                        class="img-fluid rounded shadow-lg" style="object-fit: cover; width: 100%; height: 100%;">
                    </div>
                    <div class="overlay">
                      <span class="text-name">{{ row['album_name'] }}</span>
                    </div>
                  </div>
                </button>
              </form>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      <!--End Trending Albums -->

      <!-- Trending Artists -->
      {% if data['artistdata'] != [] %}
      <div class="row mt-4">
        <div class="col-12">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h4>Trending <span class="text-success h3"> Artists </span></h4>
            </div>
          </div>
          <div class="row">
          <ul class="nav nav-pills nav-pills-success nav-pills-icons" role="tablist">
            <!-- color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning", "nav-pills-danger" -->
            {% for row in data['artistdata'] %}
          <li class="nav-item" style="margin-right: 30px;">
            <form action="{{ url_for('user.play') }}" method="POST" role="tab">
              <input type="hidden" name="contenttype" value="artist">
              <input type="hidden" name="artist_id" value="{{ row['artist_id'] }}">
              <button class="btn btn-default btn-round" type="submit" class="nav-link album-button" style="padding: 0; position: relative; overflow: hidden;">
                <div class="d-flex flex-column align-items-center" style="width: 230px; height: 230px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                  <div class="image-container" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: filter 0.3s ease; filter: blur(0);">
                    <img src="{{ url_for('static', filename=row['artist_image_loc'])}}" alt="Raised image" class="img-fluid rounded shadow-lg" style="object-fit: cover; width: 100%; height: 100%;">
                  </div>
                  <div class="overlay">
                    <span class="text-name">{{ row['artist_name'] }}</span>
                  </div>
                </div>
              </button>
            </form>
          </li>
          {% endfor %}
            
            <!-- Add more list items as needed -->
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
      <!--End Trending Artists -->

      <!-- Public Playlist -->
      {% if data['publicplaylistdata'] | length > 0 %}
                    <div class="row mb-5 mt-4">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-6 text-left">
                                    <h4> Public <span class="text-success h3"> Playlist </span></h4>
                                </div>
                            </div>
                            <div class="row">
                                {% for row in data['publicplaylistdata'] %}
                                <div class="col col-2">
                                    <div class="playlistcard">
                                        <div class="playlistcard-info">
                                            <div class="playlist-details">
                                                <div class="text-left">
                                                    <h5 class="playlist-name">{{ row['playlist_name'] }}</h5>
                                                </div>
                                                <div class="buttons text-right text-bottom">
                                                <form action="{{ url_for('user.playlist_play') }}" method="POST">
                                                <input type="hidden" name="contenttype" value="userplaylist">
                                                <input type="hidden" name="playlist_id" value="{{ row['playlist_id'] }}">
                                                 <button
                                                        class="btn btn-success btn-lg btn-round btn-icon animation-on-hover">
                                                        <i class="fas fa-play"></i>
                                                    </button>
                                                </form>
                                                </div>
                                            </div>
                                            <img src="{{ url_for('static', filename=row['image_loc'])}}"
                                                alt="Playlist Image" class="playlistcard-image">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- End Public Playlist -->
  </div>
  </div>
</div>

<style>
  button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
  filter: blur(0);
}

button:hover .image-container {
  filter: blur(5px);
}

button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

button:hover .overlay {
  opacity: 1;
}

button .text-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
  position: absolute; 
  bottom: 0; 
  left: 0; 
  padding: 10px;
   white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}
</style>
<style>
  .playlistcard {
      --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
      width: 190px;
      height: 254px;
      padding: 5px;
      border-radius: 1rem;
      overflow: visible;
      background: #f7ba2b;
      background: var(--background);
      position: relative;
      z-index: 1;
  }

  .playlistcard::after {
      position: absolute;
      content: "";
      top: 30px;
      left: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      transform: scale(0.8);
      filter: blur(25px);
      background: #f7ba2b;
      background: var(--background);
      transition: opacity .5s;
  }

  .playlistcard-info {
      --color: #181818;
      background: var(--color);
      color: var(--color);
      display: flex;
      flex-direction: column;
      /* Updated */
      justify-content: space-between;
      /* Updated */
      align-items: flex-start;
      /* Updated */
      width: 100%;
      height: 100%;
      overflow: visible;
      border-radius: 1rem;
      position: relative;
      z-index: 1;
  }

  .playlistcard .title {
      font-weight: bold;
      letter-spacing: .1em;
  }

  .playlistcard:hover::after {
      opacity: 0;
  }

  .playlistcard:hover .playlistcard-info {
      color: #f7ba2b;
      transition: color 1s;
  }

  .playlistcard-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
  }

  .playlist-details {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.7);
      color: #ffffff;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 1rem;
  }

  .playlistcard:hover .playlist-details {
      opacity: 1;
  }

  .playlist-name {
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: bold;
      /* Added */
  }

  .buttons {
      position: absolute;
      bottom: 10px;
      right: 10px;
  }
</style>

{% include 'user/user_footer.html'%}
