{% include 'user/user_header.html'%}
<div class="wrapper">

  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>

    <!-- Playlist bar -->
    <div class="playarea-container container-fluid">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 offset-lg-0 offset-md-3">
              {% if data['currentalbumsongs'] %}
              <div class="card card-coin">
                <div class="card-body d-flex" style="background-color: #32325d;">
                  <div class="align-self-start mr-5">
                    <img src="{{ url_for('static', filename=playlist['main_pic'])}}"
                      class="img-fluid rounded-circle shadow-lg " style="min-height: 150px; max-height: 200px;">
                  </div>
                  <div class="align-self-center d-flex flex-column">
                    <h4 class="title" style="font-size: calc(1.5rem + 1vw);">{{ playlist['name'] }}</h4>
                    <div>
                      <button class="btn btn-success btn-lg btn-round btn-icon" id="play-pause-button-page">
                        <i class="fas fa-play"></i>
                        <!-- <i class="fas fa-pause"></i> -->
                      </button>
                      <button class="btn btn-default btn-round btn-icon">
                        <i class="far fa-heart"></i>
                        <!-- <i class="fas fa-heart"></i> -->
                      </button>
                    </div>
                  </div>
                  <div class="ml-auto align-self-stretch gradient-overlay">
                    <img src="{{ url_for('static', filename=playlist['cover_pic'])}}" class="img-fluid rounded shadow"
                      style="min-height: 200px; max-height: 200px; min-width: 400px;">
                  </div>
                </div>

                <div class="card">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Pic</th>
                        <th>Song</th>
                        <th>Time</th>
                        <th class="text-center">Fav</th>
                        <th class="text-center">Download</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in data['currentalbumsongs'] %}
                      <tr class="hover-row">
                        <td class="text-center">{{ loop.index }}</td>
                        <td><img src="{{ url_for('static', filename=row['song_image_loc'])}}" alt="Raised circle image"
                            class="img-fluid rounded shadow" style="width: 50px;"></td>
                        <td><a href="#" class="currentSong" data-value="{{ loop.index }}">{{ row['song_name'] }}</a>
                        </td>
                        <td>{{ row['duration'] }}</td>
                        <td class="text-center">
                          <button type="button" rel="tooltip" class="btn btn-info btn-simple btn-icon btn-sm">
                            <i class="tim-icons icon-heart-2"></i>
                          </button>
                        </td>
                        <td class="text-center">
                          <button type="button" rel="tooltip" class="btn btn-success btn-simple btn-icon btn-sm">
                            <i class="tim-icons icon-cloud-download-93"></i>
                          </button>
                        </td>
                        <input type="hidden" name="songurl{{ loop.index }}" value="{{ row['song_loc'] }}">
                        <input type="hidden" name="songname{{ loop.index }}" value="{{ row['song_name'] }}">
                        <input type="hidden" name="artworks{{ loop.index }}" value="_{{ loop.index }}">
                        <input type="hidden" name="albums{{ loop.index }}" value="{{ row['album_name'] }}">
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              {% endif %}
              {% if data['currentartistsongs'] %}
              <div class="card card-coin">
                <div class="card-body d-flex" style="background-color: #32325d;">
                  <div class="align-self-start mr-5">
                    <img src="{{ url_for('static', filename=playlist['main_pic'])}}"
                      class="img-fluid rounded-circle shadow-lg " style="min-height: 150px; max-height: 200px;">
                  </div>
                  <div class="align-self-center d-flex flex-column">
                    <h4 class="title" style="font-size: calc(1.5rem + 1vw);">{{ playlist['name'] }}</h4>
                    <div>
                      <button class="btn btn-success btn-lg btn-round btn-icon" id="play-pause-button-page">
                        <i class="fas fa-play"></i>
                      </button>
                      <button class="btn btn-default btn-round btn-icon">
                        <i class="far fa-heart"></i>
                        <!-- <i class="fas fa-heart"></i> -->
                      </button>
                    </div>
                  </div>
                  <div class="ml-auto align-self-stretch gradient-overlay">
                    <img src="{{ url_for('static', filename=playlist['cover_pic'])}}" class="img-fluid rounded shadow"
                      style="min-height: 200px; max-height: 200px; min-width: 400px;">
                  </div>
                </div>

                <div class="card">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Pic</th>
                        <th>Song</th>
                        <th>Time</th>
                        <th class="text-center">Fav</th>
                        <th class="text-center">Download</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in data['currentartistsongs'] %}
                      <tr class="hover-row">
                        <td class="text-center">{{ loop.index }}</td>
                        <td><img src="{{ url_for('static', filename=row['song_image_loc']) }}" alt="Raised circle image"
                            class="img-fluid rounded shadow" style="width: 50px;"></td>
                        <td><a href="#" class="currentSong" data-value="{{ loop.index }}">{{ row['song_name'] }}</a>
                        </td>
                        <td>{{ row['duration'] }}</td>
                        <td class="text-center">
                          <button type="button" rel="tooltip" class="btn btn-info btn-simple btn-icon btn-sm">
                            <i class="tim-icons icon-heart-2"></i>
                          </button>
                        </td>
                        <td class="text-center">
                          <button type="button" rel="tooltip" class="btn btn-success btn-simple btn-icon btn-sm">
                            <i class="tim-icons icon-cloud-download-93"></i>
                          </button>
                        </td>
                        <input type="hidden" name="songurl{{ loop.index }}" value="{{ row['song_loc'] }}">
                        <input type="hidden" name="songname{{ loop.index }}" value="{{ row['song_name'] }}">
                        <input type="hidden" name="artworks{{ loop.index }}" value="_{{ loop.index }}">
                        <input type="hidden" name="albums{{ loop.index }}" value="{{ row['album_name'] }}">
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Playlist bar -->

    <!-- Side Bar -->
    <div class="myfixleft sidebar">
      <div style="margin-top: 100px;">
        <div class="row">
          <div class="col-md-4">
            <ul class="nav nav-pills nav-pills-info flex-column">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('user.user_home') }}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('user.user_home') }}">Trending</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('user.recommendation') }}">Recommended</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <!-- End Side Bar -->

  </div>


</div>

<style>
  .hover-row:hover {
    background-color: #525f7f;
    /* Change the background color on hover */
    /* Add any other styles you want for the hover effect */
  }

  .playarea-container {
    position: relative;
    margin-top: 100px;
    max-width: 100%;
    /* Allow the container to grow up to the maximum width of the browser */
    height: 510px;
    overflow: auto;
    scrollbar-width: none;
    /* Hide the scrollbar for Firefox */
    -ms-overflow-style: none;
    /* Hide the scrollbar for IE and Edge */
  }

  .playarea-container::-webkit-scrollbar {
    width: 0;
  }

  .gradient-overlay {
    position: relative;
    overflow: hidden;
  }

  .gradient-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(50, 50, 93, 1) 0%, rgba(50, 50, 93, 0) 100%);
  }
</style>

{% include 'user/player.html'%}
{% include 'user/user_footer.html'%}