<!-- Song Bar -->
<div id="app-cover">
  <div id="player">
    <div id="player-track">
      <div id="album-name"></div>
      <div id="track-name"></div>
      <div id="track-time">
        <div id="current-time"></div>
        <div id="track-length"></div>
      </div>
      <div id="s-area">
        <div id="ins-time"></div>
        <div id="s-hover"></div>
        <div id="seek-bar"></div>
      </div>
    </div>
    <div id="player-content">
      <div id="album-art">
        <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg" class="active" id="_1">
        <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_2.jpg" id="_2">
        <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_3.jpg" id="_3">
        <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_4.jpg" id="_4">
        <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_5.jpg" id="_5">
        <div id="buffer-box">Buffering ...</div>
      </div>
      <div id="eqblock">
        <div id="equalizer" class="hidden">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <div id="player-controls">
        
        <div class="btn btn-primary btn-simple btn-round" id="shuffle-icon" style="margin-right: 50px;">
          <!-- Shuffle icon -->
          <i class="fas fa-random"></i>
        </div>
        <div class="btn btn-primary btn-simple btn-round" id="repeat-icon" style="margin-right: 50px;">
          <!-- Repeat icon -->
          <i class="fas fa-redo-alt"></i>
        </div>
        <div class="volumecontainer">
          <div id="volume-control" style="font-size: 25px; color: #e14eca;">
            <i class="fas fa-volume-up"></i>
          </div>
          <div class="volume-slider" style="padding-left: 10px;">
            <input type="range" id="volume-slider" min="0" max="1" step="0.1" value="1" class="volume-slider">
          </div>
        </div>
        <div class="control" style="padding-left: 60px;">
          <div class="button" id="play-previous">
            <i class="fas fa-backward"></i>
          </div>
        </div>
        <div class="control" style="padding: 20px;">
          <div class="button" id="play-pause-button">
            <i class="fas fa-play"></i>
          </div>
        </div>
        <div class="control"  style="padding-right: 60px;">
          <div class="button" id="play-next">
            <i class="fas fa-forward"></i>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>