<!-- Song Bar -->
<div id="app-cover" style="z-index: 2;">
  <div id="player">
    <div id="player-track">
      <div id="album-name"></div>
      <div id="track-name"></div>
      <div id="track-time">
        <div id="current-time"></div>
        <div id="track-length"></div>
      </div>
      <div id="s-area">
        <div id="ins-time"></div>
        <div id="s-hover"></div>
        <div id="seek-bar"></div>
      </div>
    </div>
    <div id="player-content">
      <div id="album-art">
        {% if data['currentalbumsongs'] %}
        {% for row in data['currentalbumsongs'] %}
        <input type="hidden" name="songurl{{ loop.index }}" value="{{ row['song_loc'] }}">
        <input type="hidden" name="songname{{ loop.index }}" value="{{ row['song_name'] }}">
        <input type="hidden" name="artworks{{ loop.index }}" value="_{{ loop.index }}">
        <input type="hidden" name="albums{{ loop.index }}" value="{{ row['album_name'] }}">
        <input type="hidden" name="duration{{ loop.index }}" value="{{ row['duration'] }}">
        <img src="{{ url_for('static', filename=row['song_image_loc'])}}" class="active" id="_{{ loop.index }}">
        {% endfor %}
        {% endif %}

        {% if data['currentartistsongs'] %}
        {% for row in data['currentartistsongs'] %}
        <input type="hidden" name="songurl{{ loop.index }}" value="{{ row['song_loc'] }}">
        <input type="hidden" name="songname{{ loop.index }}" value="{{ row['song_name'] }}">
        <input type="hidden" name="artworks{{ loop.index }}" value="_{{ loop.index }}">
        <input type="hidden" name="albums{{ loop.index }}" value="{{ row['album_name'] }}">
        <input type="hidden" name="duration{{ loop.index }}" value="{{ row['duration'] }}">
        <img src="{{ url_for('static', filename=row['song_image_loc'])}}" class="active" id="_{{ loop.index }}">
        {% endfor %}
        {% endif %}

        {% if data['favoritesongdata'] %}
        {% for row in data['favoritesongdata'] %}
        <input type="hidden" name="songurl{{ loop.index }}" value="{{ row['song_loc'] }}">
        <input type="hidden" name="songname{{ loop.index }}" value="{{ row['song_name'] }}">
        <input type="hidden" name="artworks{{ loop.index }}" value="_{{ loop.index }}">
        <input type="hidden" name="albums{{ loop.index }}" value="{{ row['album_name'] }}">
        <input type="hidden" name="duration{{ loop.index }}" value="{{ row['duration'] }}">
        <img src="{{ url_for('static', filename=row['song_image_loc'])}}" class="active" id="_{{ loop.index }}">
        {% endfor %}
        {% endif %}

        {% if data['trendingsongdata'] %}
        {% for row in data['trendingsongdata'] %}
        <input type="hidden" name="songurl{{ loop.index }}" value="{{ row['song_loc'] }}">
        <input type="hidden" name="songname{{ loop.index }}" value="{{ row['song_name'] }}">
        <input type="hidden" name="artworks{{ loop.index }}" value="_{{ loop.index }}">
        <input type="hidden" name="albums{{ loop.index }}" value="{{ row['album_name'] }}">
        <input type="hidden" name="duration{{ loop.index }}" value="{{ row['duration'] }}">
        <img src="{{ url_for('static', filename=row['song_image_loc'])}}" class="active" id="_{{ loop.index }}">
        {% endfor %}
        {% endif %}

        {% if data['searchsongdata'] %}
        {% for row in data['searchsongdata'] %}
        <input type="hidden" name="songurl{{ loop.index }}" value="{{ row['song_loc'] }}">
        <input type="hidden" name="songname{{ loop.index }}" value="{{ row['song_name'] }}">
        <input type="hidden" name="artworks{{ loop.index }}" value="_{{ loop.index }}">
        <input type="hidden" name="albums{{ loop.index }}" value="{{ row['album_name'] }}">
        <input type="hidden" name="duration{{ loop.index }}" value="{{ row['duration'] }}">
        <img src="{{ url_for('static', filename=row['song_image_loc'])}}" class="active" id="_{{ loop.index }}">
        {% endfor %}
        {% endif %}

        {% if data['songcategorydata'] %}
        {% for row in data['songcategorydata'] %}
        <input type="hidden" name="songurl{{ loop.index }}" value="{{ row['song_loc'] }}">
        <input type="hidden" name="songname{{ loop.index }}" value="{{ row['song_name'] }}">
        <input type="hidden" name="artworks{{ loop.index }}" value="_{{ loop.index }}">
        <input type="hidden" name="albums{{ loop.index }}" value="{{ row['album_name'] }}">
        <input type="hidden" name="duration{{ loop.index }}" value="{{ row['duration'] }}">
        <img src="{{ url_for('static', filename=row['song_image_loc'])}}" class="active" id="_{{ loop.index }}">
        {% endfor %}
        {% endif %}
        <div id="buffer-box">Buffering ...</div>
      </div>
      <div id="eqblock">
        <div id="equalizer" class="hidden">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <div id="player-controls">
        <div class="control" style="padding-left: 60px;">
          <div class="btn btn-info btn-sm animation-on-hover" id="play-previous">
            <i class="fas fa-backward"></i>
          </div>
        </div>
        <div class="control" style="padding: 20px;">
          <div class="btn btn-info btn-sm animation-on-hover" id="play-pause-button">
            <i class="fas fa-play"></i>
          </div>
        </div>
        <div class="control" style="padding-right: 300px;">
          <div class="btn btn-info btn-sm animation-on-hover" id="play-next">
            <i class="fas fa-forward"></i>
          </div>
        </div>
        <div class="btn btn-neutral btn-icon btn-round btn-simple" id="now-playing" style="margin-right: 50px;">
          <!-- Now Playing icon -->
          <i class="fas fa-music"></i>
        </div>

        <div class="btn btn-neutral btn-icon btn-round btn-simple" id="repeat-icon" style="margin-right: 50px;">
          <!-- Repeat icon -->
          <i class="fas fa-redo-alt"></i>
        </div>
        <div class="volumecontainer btn-link btn-info btn-simple btn-sm btn-round">
          <div id="volume-control" style="font-size: 25px; color: #e14eca;">
            <i class="fas fa-volume-up"></i>
          </div>
          <div class="volume-slider" style="padding-left: 10px;">
            <input type="range" id="volume-slider" min="0" max="1" step="0.1" value="1" class="volume-slider">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script>

  var repeatButton = document.getElementById("repeat-icon");

  repeatButton.addEventListener("click", function () {
    if (repeatButton.classList.contains("btn-primary")) {
      repeatButton.classList.remove("btn-primary");
      repeatButton.classList.add("btn-neutral", "btn-simple");
      audio.loop = false;
    } else {
      repeatButton.classList.remove("btn-neutral", "btn-simple");
      repeatButton.classList.add("btn-primary");
      audio.loop = true;
    }
  });

  var nowPlayingButton = document.getElementById("now-playing");

  // Set initial state to active
  nowPlayingButton.classList.remove("btn-neutral", "btn-simple");
  nowPlayingButton.classList.add("btn-primary");

  nowPlayingButton.addEventListener("click", function () {
    if (nowPlayingButton.classList.contains("btn-primary")) {
      nowPlayingButton.classList.remove("btn-primary");
      nowPlayingButton.classList.add("btn-neutral", "btn-simple");
      // Perform actions when the button is not active
      // For example, pause the audio player
      // audio.pause();
    } else {
      nowPlayingButton.classList.remove("btn-neutral", "btn-simple");
      nowPlayingButton.classList.add("btn-primary");
      // Perform actions when the button is active
      // For example, play the audio player
      // audio.play();
    }
  });

</script>