
{% include 'user/user_header.html'%}

<style>
  /* Hide scroll bars */
  ::-webkit-scrollbar {
    display: none;
  }
  .section {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>

<div class="content">
<div class="row mt-5">
<div class="col mt-5">
<!-- For space on top -->
</div>
</div>
  <div class="row">
  <div class="col col-1 mr-5 sidebar">
  <!-- Side Bar -->
<div class="myfixleft">
  <div style="margin-top: 100px;">
    <div class="row">
      <div class="col-md-11">
        <ul class="nav nav-pills nav-pills-info flex-column">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-0" href="{{ url_for('user.user_home') }}">
              <i class="fas fa-home mr-2"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-0" href="{{ url_for('user.favorite') }}">
              <i class="fas fa-heart mr-2"></i> Favorites
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-0" href="{{ url_for('user.explore') }}">
              <i class="fas fa-compass mr-2"></i> Explore
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center py-0" href="{{ url_for('user.playlist') }}">
              <i class="fa-solid fa-compact-disc mr-2"></i> Playlist
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Side Bar -->
  </div>
  <div class="col col-10 ml-4">
    <div class="">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('user.user_home') }}">Home</a></li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="mt-5">
      <div class=" align-items-center">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <!-- <h5 class="text-on-back">Music Verse</h5> -->
            <div class="d-flex justify-content-center align-items-center"> <!-- Use flexbox to center content horizontally and vertically -->
              <div class="col-8 mb-2">
                {% if data['userdetails']['image_loc'] != 'null' %}
                  <img src="{{ url_for('static', filename=data['userdetails']['image_loc'])}}" class="img-center img-fluid rounded-circle" id="profile-image">
                {% else %}
                  <img src="{{ url_for('static', filename='public/img/defaultavathar.png') }}" class="img-center img-fluid rounded-circle" id="profile-image">
                {% endif %}
              </div>
            </div>
            <h1 class="profile-title text-center">{{data['userdetails']['fname']}} {{data['userdetails']['lname']}}</h1>
            <div class="btn-wrapper text-center pt-3">
              <a target="_blank" href="{{ url_for('uploader.myalbum') }}" class="btn btn-icon btn-info btn-round">
                <i class="fas fa-compact-disc"></i>
              </a>
              <a target="_blank" href="{{ url_for('uploader.allsongs') }}" class="btn btn-icon btn-facebook btn-round" data-toggle="tooltip" data-original-title="Like us">
                <i class="fas fa-music"></i>
              </a>
              <a target="_blank" href="{{ url_for('uploader.myartist') }}" class="btn btn-icon btn-dribbble  btn-round" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fas fa-user"></i>
              </a>
            </div>
          </div>
          
          <div class="col-lg-5 col-md-6 ml-auto mr-auto">
            <div class="card card-coin card-plain">
              <div class="card-header">
                <div class="image-container">
                  <div class="p-5"></div>
                </div>
              </div>
              <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-primary justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Overview-tab">
                      Overview
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profile-change-password">
                      Change Password
                    </a>
                  </li>
                </ul>
                <div class="tab-content tab-subcategories pl-5">
                  <div class="tab-pane active" id="Overview-tab">
                    <div class="table-responsive">
                      <div class="ml-3">
                        <h5 class="h4 text-primary">Profile Details</h5>
                        <div class="row mt-2">
                          <div class="col-lg-3 col-md-4 text-muted">Full Name</div>
                          <div class="col-lg-9 col-md-8 text-light">{{data['userdetails']['fname']}} {{data['userdetails']['lname']}}</div>
                        </div>
      
                        <div class="row mt-2">
                          <div class="col-lg-3 col-md-6 text-muted">Username</div>
                          <div class="col-lg-9 col-md-6 text-light">{{data['userdetails']['username']}}</div>
                        </div>
      
                        <div class="row mt-2">
                          <div class="col-lg-3 col-md-4 text-muted">Email</div>
                          <div class="col-lg-9 col-md-8 text-light">{{data['userdetails']['email']}}</div>
                        </div>
      
                        <div class="row mt-2">
                          <div class="col-lg-3 col-md-4 text-muted">Mobile</div>
                          <div class="col-lg-9 col-md-8 text-light">{{data['userdetails']['mobile']}}</div>
                        </div>
                        <div class="row mt-4">
                          <div class="m-1">
                            <a href="{{ url_for('user.edit_profile') }}" class="btn btn-success btn-round" name="editprofile" type="submit">Edit Profile</a>                            
                          </div>
                          <div class="m-1">
                            <button class="btn btn-danger btn-simple btn-round" name="disableprofile" data-toggle="modal" data-target="#DeleteConfirmModal">Deactivate Profile</button>
                          </div>
                        </div>
      
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="profile-change-password">
                    <div class="table-responsive">
                      <!-- Change Password Form -->
                      <h5 class="h4 text-primary">Change Password</h5>
                      <form class="needs-validation" action="{{ url_for('user.changepassword') }}" method="post" novalidate id="changePasswordForm">
                        <div class="row mb-3 position-relative">
                          <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="password" type="password" class="form-control" id="currentPassword" required>
                            <div class="invalid-feedback">
                              Please enter the current password.
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3 position-relative">
                          <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="newpassword" type="password" class="form-control" id="newPassword" required>
                            <div class="invalid-feedback">
                              Please enter the new password.
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3 position-relative">
                          <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="renewpassword" type="password" class="form-control" id="renewPassword" required>
                            <div class="invalid-feedback">
                              Please re-enter the new password.
                            </div>
                            <div class="invalid-feedback mismatch-feedback" style="display: none;">
                              New password and re-entered password do not match.
                            </div>
                          </div>
                        </div>
                        <div class="row position-relative justify-content-center">
                          <div class="">
                            <button type="submit" class="btn btn-success btn-round">Change Password</button>
                          </div>
                        </div>
                      </form>
                  <!-- End Change Password Form -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<!-- Delete Confirm modal -->
<div class="modal fade modal-mini modal-primary modal-mini" id="DeleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove text-white"></i>
        </button>
        <div class="modal-profile">
          <img src="{{ url_for('static', filename=data['userdetails']['image_loc'])}}"
          class="img-center img-fluid rounded-circle" id="profile-image">
        </div>
      </div>
      <div class="modal-body">
        <p>Are you sure to deactivate your profile ?</p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-link btn-neutral" href="{{ url_for('user.disable_profile') }}">Yes</a>
        <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<!-- End Delete Confirm modal -->

{% include 'user/user_footer.html'%}

<script>
  // Function to check if the new password and re-entered password match
  function passwordsMatch() {
    var newPassword = document.getElementById("newPassword").value;
    var renewPassword = document.getElementById("renewPassword").value;
    var mismatchFeedback = document.querySelector(".mismatch-feedback");

    if (newPassword !== renewPassword) {
      mismatchFeedback.style.display = "block";
      return false;
    } else {
      mismatchFeedback.style.display = "none";
      return true;
    }
  }

  // Function to handle form validation
  function validateForm(event) {
    var form = event.target;
    if (!form.checkValidity() || !passwordsMatch()) {
      event.preventDefault();
      event.stopPropagation();
    }
    form.classList.add("was-validated");
  }

  // Attach the validation function to the form's submit event
  var form = document.getElementById("changePasswordForm");
  form.addEventListener("submit", validateForm, false);
</script>
