{% include 'user/user_header.html'%}

<style>
  /* Hide scroll bars */
  .section::-webkit-scrollbar {
    display: none;
  }

  .section {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>

<div class="page-header header-filter">

  <!-- Side Bar -->
  <div class="myfixleft sidebar">
    <div style="margin-top: 100px;">
      <div class="row">
        <div class="col-md-4">
          <ul class="nav nav-pills nav-pills-info flex-column">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('user.user_home') }}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('user.favorite') }}">Favorites</a></li>
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('user.recommendation') }}">Recommended</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- End Side Bar -->

  <!-- Search -->
  <div class="section" style="margin-top: 50px; margin-left: 250px; overflow-y: scroll; max-height: 660px;">
    <!-- Search Bar -->
    <div class="container">
      <div class="row">
        <div class="col col-8">
          <div class="input-group">
            <input id="search-input" type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 30px;">
        <!-- Space for the content below-->
      </div>
    </div>
    <!-- End Search Bar -->

    <!-- Search Result -->
    <div id="SearchResultArea" class="session hidden">
      <div class="row">
        <!-- Top Result -->
        <div class="col col-5">
          <h2 class="text-success ml-3 mt-3"> Top Result </h2>
          <div class="card">
            <div class="container mt-3">
              <div class="row">
                <div class="col">
                  <div class="col-sm-3 col-6">
                    <img id="TopSearchImage" src="{{ url_for('static', filename='public/img/defaultavathar.png') }}"
                      alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 150px;">
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col col-10">
                  <h3 class="mb-2" id="TopSearchSongName">Song Name</h3>
                  <h6 class="my-1" id="TopSearchArtistName">Artist Name <span
                      class="badge badge-default ml-3">Song</span></h6>
                  <h6 class="my-1" id="TopSearchDuration">Duration</h6>
                </div>
                <div class="col text-right col-2">
                  <button class="btn btn-success btn-lg btn-round btn-icon" id="play-pause-button-page">
                    <i class="fas fa-play"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Songs Result -->
        <div class="col col-7">
          <h2 class=" ml-3 mt-3"> Songs </h2>
          <div class="card text-center">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Song Name</th>
                  <th>Genre</th>
                  <th>Language</th>
                  <th>Duration</th>
                </tr>
              </thead>
              <tbody id="search-results">
                <!-- Results will be dynamically added here -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- End Search Result -->
    <!-- No Element Found Area -->
    <div id="SearchResultNotFound" class="session text-center hidden">
      <h1 class="text-warning"> No matching Contents Found !!!!!</h1>

    </div>

  </div>
</div>

<style>
  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  button .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
    filter: blur(0);
  }

  button:hover .image-container {
    filter: blur(5px);
  }

  button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  button:hover .overlay {
    opacity: 1;
  }

  button .text-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

{% include 'user/user_footer.html'%}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    var searchInput = $('#search-input');
    var SearchResultArea = document.getElementById('SearchResultArea');
    var SearchResultNotFound = document.getElementById('SearchResultNotFound');
    // Capture user input and send it to Flask
    searchInput.on('input', function () {
      var searchText = searchInput.val();

      // Check if search text is empty or less than 3 characters
      if (searchText === '' || searchText.length < 3) {
        // Clear the previous results
        $('#search-results tbody').empty();
        $('#TopSearchSongName').text('Song Name');
        $('#TopSearchArtistName').text('');
        $('#TopSearchDuration').text('');
        $('#TopSearchImage').attr('src', '');
        SearchResultArea.classList.add('hidden');
        SearchResultNotFound.classList.add('hidden');
        return; // Exit the function
      }

      $.ajax({
        type: 'POST',
        url: '/user/search',
        data: { text: searchText },
        success: function (response) {
          console.log(response)
          // Clear the previous results
          $('#search-results').empty();
          $('#TopSearchSongName').text('Song Name');
          $('#TopSearchArtistName').text('');
          $('#TopSearchDuration').text('');
          $('#TopSearchImage').attr('src', '');

          if (response['matching_songs'].length > 0) {
            SearchResultNotFound.classList.add('hidden');
            SearchResultArea.classList.remove('hidden');

            // Update the top result
            var topResult = response['matching_songs'][0];

            // Update the song name
            var songNameElement = document.getElementById('TopSearchSongName');
            songNameElement.textContent = topResult['song_name'];

            // Update the artist name
            var artistNameElement = document.getElementById('TopSearchArtistName');
            artistNameElement.textContent = topResult['artist_name'];

            // Update the duration
            var durationElement = document.getElementById('TopSearchDuration');
            durationElement.textContent = topResult['duration'];

            // Update the image source
            var imageElement = document.getElementById('TopSearchImage');
            imageElement.src = '{{ url_for('static', filename='') }}' + topResult['image_loc'];

            // Loop through the results and append them to the table
            for (var i = 0; i < response['matching_songs'].length; i++) {
              var result = response['matching_songs'][i];
              var row = '<tr>';
              row += '<td class="text-center">' + (i + 1) + '</td>';
              row += '<td>' + result['song_name'] + '</td>';
              row += '<td>' + result['genre'] + '</td>';
              row += '<td>' + result['language'] + '</td>';
              row += '<td>' + result['duration'] + '</td>';
              row += '</tr>';

              // Append the row to the table body
              $('#search-results').append(row);
            }
          } else {
            SearchResultArea.classList.add('hidden');
            SearchResultNotFound.classList.remove('hidden');
          }
        },
        error: function (xhr, status, error) {
          console.log('An error occurred: ' + error);
        }
      });
    });

    // Clear the search results when the search bar is cleared
    searchInput.on('keyup', function () {
      if (searchInput.val() === '') {
        $('#search-results tbody').empty();
        $('#TopSearchSongName').text('Song Name');
        $('#TopSearchArtistName').text('');
        $('#TopSearchDuration').text('');
        $('#TopSearchImage').attr('src', '');
        SearchResultArea.classList.add('hidden');
        SearchResultNotFound.classList.add('hidden');
      }
    });
  });
</script>