  <!--   Core JS Files   -->
  <script>
    // Toggle the sidebar on button click
    document.getElementById('toggleSidebarButton').addEventListener('click', function() {
      document.body.classList.toggle('show-sidebar');
    });
  </script>
  <script src="{{ url_for('static', filename='user/assets/js/core/jquery.min.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='user/assets/js/core/popper.min.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='user/assets/js/core/bootstrap.min.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='user/assets/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{{ url_for('static', filename='user/assets/js/plugins/bootstrap-switch.js')}}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{{ url_for('static', filename='user/assets/js/plugins/nouislider.min.js')}}" type="text/javascript"></script>
  <!-- Chart JS -->
  <script src="{{ url_for('static', filename='user/assets/js/plugins/chartjs.min.js')}}"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="{{ url_for('static', filename='user/assets/js/plugins/moment.min.js')}}"></script>
  <script src="{{ url_for('static', filename='user/assets/js/plugins/bootstrap-datetimepicker.js')}}" type="text/javascript"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
  <script src="{{ url_for('static', filename='user/assets/js/blk-design-system.min.js')}}" type="text/javascript"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="{{ url_for('static', filename='user/script.js')}}"></script>
  <script>
    $(document).ready(function() {
      blackKit.initDatePicker();
      blackKit.initSliders();
    });

    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>
</body>

</html>